src/test/resources/pattern.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pattern">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="category"/>
        <xs:element type="xs:string" name="intent"/>
        <xs:element type="xs:string" name="motivation"/>
        <xs:element type="xs:string" name="applicability"/>
        <xs:element type="xs:string" name="structure"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>